<div>
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="delete()">delete</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.description}}</span>
        </li>
    </ul>

    <form class="form-horizontal" ng-submit="addTodo()">
        <input type="text" ng-model="newTodo.description"  size="30"
        placeholder="add new todo here">
        <input class="btn btn-primary" type="submit" value="add">
    </form>
</div>
