<!DOCTYPE html>
<html ng-app>
  <head>
    <title>AngularTodo</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    {{1+2}}
    <%= yield %>
    <script src="/javascripts/angular.min.js"></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
